<style>
body{
  background-color: #E1FFEE;
}

hr{
  color:#FFEEAF;
  border-style: dotted none none;
  border-width: 20px;
  width:10%;
}
h3{
  color:#A5F1E9; 
}

h1 {
  color:#7FBCD2;
}
</style>